0x00-pascal_triangle/0-main.py
0x00-pascal_triangle/__pycache__/0-pascal_triangle.cpython-38.pyc
0x02-minimum_operations/0-main.py
0x02-minimum_operations/__pycache__/0-minoperations.cpython-38.pyc
.vscode/settings.json
